src/main/mule/final-project-squad1-compasso.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2dba360-7d58-49fc-8f32-d4d38813de29" basePath="/api">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="4b4095c1-c006-4834-a8c4-64edda593177" >
		<http:request-connection port="443" host=" anypoint.mulesoft.com"/>
	</http:request-config>
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="3eb87f8f-de5a-4975-9257-ce4e6b664571" >
		<ftp:connection host="files.000webhost.com" username="finalprojectmulesoft" password="Mulesoft@01" />
	</ftp:config>
	<flow name="FlowPrincipal" doc:id="fcda8a61-5884-4999-91d4-50fbb29dca04" >
		<http:listener doc:name="Listener" doc:id="c3b2709a-e0d9-491c-98f8-272a51746827" config-ref="HTTP_Listener_config" path="/findPredictTimeWeek" />
		<flow-ref doc:name="recuperacao-de-dados" doc:id="5578e34a-5d86-4012-94c7-7cb78602cd76" name="variaveis-de-entrada"/>
		<flow-ref doc:name="requisicao" doc:id="8862b4fb-250d-419c-aeee-6e0f93ab1c25" name="requisição-e-filtragem-da-mensagem"/>
		<flow-ref doc:name="payload to CSV" doc:id="b7b4dfab-7242-42a2-b21d-83eddd7a65f8" name="payload-to-CSV"/>
		<flow-ref doc:name="CSV to FTP" doc:id="299f6884-7767-4946-bed6-15a362097ca3" name="CSV-to-FTP"/>
	</flow>
	<sub-flow name="variaveis-de-entrada" doc:id="3ac04a44-3a17-41e1-a0f8-2dfe70f6017a" >
		<set-variable value='#[attributes.headers.nomeDaCidade default "Pelotas"]' doc:name="nomeDaCidade" doc:id="34b49549-5d65-469d-aab6-58c573c02e13" variableName="nomeDaCidade" />
		<set-variable value='#[attributes.headers.estado default "RS"]' doc:name="estado" doc:id="77d332d0-7b3b-4d00-a24a-f25e193404b3" variableName="estado" />
	</sub-flow>
	<sub-flow name="requisição-e-filtragem-da-mensagem" doc:id="ddbf91aa-f73a-4686-95e9-0e84c624c9f9" >
		<http:request method="GET" doc:name="Request" doc:id="9b4da5f1-6ea0-4a05-a884-09ca7186e8db" url="https://anypoint.mulesoft.com/mocking/api/v1/links/8aeead3d-817c-42f7-8ba9-09a4187d3a0d/findPredictTimeWeek">
			<http:headers><![CDATA[#[output application/java
---
{
	"estado" : vars.estado,
	"nomeDaCidade" : vars.nomeDaCidade
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="2a24702a-8a7f-49ae-bd1c-c46661098acf">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"header com o nome da cidade": vars.nomeDaCidade,
	"header com o estado": vars.estado,
	"cidade": payload.cidade,
	"condicao_tempo": payload.condicao_tempo,
	"nome_cidade": payload.nome_cidade,
	"previsao": payload.previsao map(
		{
			"data": $.date,
			"diadasemana": $.weekday,
			"maxima": $.max,
			"minima": $.min,
			("condicao": "Chuva") if ($.condition == "rain"),
			("condicao": "Tempo Limpo") if ($.condition == "clear_day"),
			("condicao": "Tempo Nublado") if ($.condition == "cloudly_day")
		}
	)
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
	<flow name="payload-to-CSV" doc:id="cc12f685-e521-47a5-b881-97cc4e39293e" >
		<logger level="INFO" doc:name="Logger" doc:id="e74cb52b-2d95-4e04-8532-82b251d77c7d" message="#[null]"/>
	</flow>
	<flow name="CSV-to-FTP" doc:id="bafc8136-7829-4f40-86ee-52a5a683f2b6" >
		<ftp:write doc:name="Write" doc:id="07a7c4d1-6267-495f-bb82-7eb1a459f67d" config-ref="FTP_Config" path="C:/previsao.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="90b64182-7491-4215-b3a0-7bc9a307c9b1" message="#[null]"/>
	</flow>

</mule>
